@import "./reset.css";

:root {
    --app-dark-bg: #0a0a0a;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
    --app-text-color: #e8deeb;
    --app-pink: #d2738a;
}
    
body {
    background-image: url(https://fauux.neocities.org/bg_314.gif);
    background-color: var(--app-dark-bg);
}
    
.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

.flex {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px
}

/* - - - - - - - - */
/* Main style      */
/* - - - - - - - - */

.logo {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 50px;
}

.box-1 {
    background-color: #000000;
    color: var(--app-text-color);
    width: 600px;
    height: 750px;
    padding: 15px
}

.current-time, .alarm-output {
    font-size: 68px;
    letter-spacing: 15px;
    margin-bottom: 30px;
    color: var(--app-pink);
    filter: drop-shadow(0 0 5px rgb(243, 143, 190));
}

.input-time, .set-alarm {
    background-color: #000000;
    color: var(--app-pink);
    width: 185px;
    height: 50px;
    padding: 5px;
    font-size: 20px;
    border-style: solid;
    border-color: var(--app-pink);
    border-width: 2px;
    margin: 10px;
}

label {
    display:block;
    text-align: left;
    margin-left: 120px;
    font-size: 20px;
    color: var(--app-pink);
    letter-spacing: 15px;
}

.cur-time {
    margin-left: 150px;
}

.blink {
    animation: blinker .2s linear infinite;
}
@keyframes blinker {
    50% {
      opacity: 0.8;
    }
}